*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
  border: 1px solid black;
  width: 100%;
  height: 10vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  position: fixed;

}

.left-part{
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 25px
}

.left-part button{
  outline: none;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  border: none;
}

.left-part:hover{
  outline: 1px solid white
}
.left-part img{
  width: 100%;
  height: 40px;
}

.middle-part{
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-area{
  display: flex;
  width: 100%;
  height: 100%;
  
}

.search-area input{
  width: 85%;
  font-size: 20px;
  padding: 5px 20px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
}

.search-area button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: goldenrod;
  outline: none;
  cursor: pointer;
  transition: 0.6s ease;
}

.search-area button:hover{
  background: gold;
}

.search-icon{
  width: 60%;
  height: 50%;
}

.right-part{
  gap: 10px;
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  
}

.order-texts{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.order-texts p{
  color: white;
}

.order-texts .top-text{
  font-size: 14px;
  text-shadow: 0 0 2px black;
  
}

.order-texts .bottom-text{
  font-size: 15px;
  font-weight: bold;
}

.cart-group{
 display: flex;
}

.cart-icon{
  width: 95px;
  height: 50px;
  /* margin-left: auto;
  margin-right: 100px; */
  position: relative;
}

.cart-qty{
  color: goldenrod;
  font-weight: bold;
  text-shadow: 0 0 1px black;
  position: absolute;
  top: 12px;
  right: 110px;
}

.cart-text{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 48px;
  right: 40px;
  letter-spacing: 1px;
}

.main-container{
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* background: gray; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
  grid-template-columns: 338px 338px 338px 338px;
  grid-auto-rows: auto;
}

.product-container{
  width: 338px;
  outline: 2px solid rgb(230, 217, 217);
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 30px 20px;
  /* border-radius: 10px; */
  gap: 10px;
  /* margin-top: 10px; */

}

.product-img{
  width: 100%;
  height: 250px;
}

.product-info{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ratings{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: blue;
  font-size: 22px;
}

.price{
  font-weight: bold;
}

.quantity{
  width: 50px;
  background: rgb(235, 229, 229);
  border: none;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  outline: none;
  /* padding-right: 5px; */
}

option{
  outline: none;
  border: none;
  
}

.add-btn{
  padding: 12px;
  margin-top: 20px;
  font-weight: bold;
  background: rgb(255, 217, 0);
  border: none;
  border-radius: 20px;
  outline: none;
}