*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar{
  border: 1px solid black;
  width: 100%;
  height: 10vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.left-part{
  border: 1px solid white;
  width: 20%;
  height: fit-content;
}

.left-part img{
  width: 100%;
  height: 100%;
}