*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 210, 210);
}

.caclculator-box{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(8, 8, 8);
  background-color: black;
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-box{
  width: 100%;
  font-size: 45px;
  height: 80px;
  background-color: black;
  color: white;
  text-align: end;
  margin-bottom: 10px;
  border-bottom: 2px solid 20px lightgray;
  border-radius: 12px;
  outline: none;
}

.btns-grid{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.btn-row{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn{
  font-size: 20px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 35px;
  background: rgb(32, 31, 31);
  color: white;
}

.firstRow-btn{
  background: rgb(212, 210, 210);
  color: rgb(7, 7, 7);
}

.lastColumn-btns{
  background-color: goldenrod;
}

.zero{
  width: 47%;
  border-radius: 30px;
}