*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(233, 215, 215);
}

.main-box{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  gap: 40px;
  width: 550px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 30px;
  position: relative;
}

.btns-row{
  display: flex;
  gap: 35px;
  width: 500px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
}

.btns-row button{
  width: 100px;
  height: 100px;
  padding: 10px 15px;
  border-radius: 50px;
  background: white;
  border: none;
  box-shadow: 0 0 10px rgb(250, 246, 2);
  font-weight: bold;
  text-shadow: 0 0 1px black;
  color: rgb(31, 31, 1);
  transition: 0.5s ease;
}

.btns-row button:hover{
  background: goldenrod;
  color: black;
}

.score-text, .title-text{
  color: rgb(253, 253, 4);
  font-weight: bold;
  word-spacing: 5px;
  letter-spacing: 3px;
}
