body{
  font-family: Arial, Helvetica, sans-serif;
}

.row1, 
.todo-list{
  display: grid;
  grid-template-columns: 150px 150px 100px;
  grid-gap: 20px;
  align-items: center;
}

.row1{
  margin-bottom: 10px;
  align-items: stretch;
}

.row1 button{
  background: rgb(2, 153, 35);
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  border: none;
}

.todo-list button{
  background: darkred;
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  border: none;
}

.row1 input{
  font-size: 15px;
  padding: 5px 10px;
  transition: 0.9s ease;
}

.row1 input:focus{
  border: none;
  outline: none;
  border: 2px solid lightskyblue;
}

