input{
  width: 25%;
  font-size: 20px;
  padding: 5px 10px;
}

button{
  background: rgb(2, 199, 2);
  font-size: 20px;
  padding: 5px 10px;
  width: fit-content;
  color: white;
  margin-left: 10px;
}

.todo-list{
  width: 50%;
  
}

.todo-list button{
  background: red;
  margin-left: 43px;
}

.todo-list p{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(44, 41, 41);
}