.main-container{
  width: 100%;
  position: fixed;
}

.row1{
  display: flex;
  justify-content: space-between;
}

.input-field{
  width: 70%;
  font-size: 15px;
  padding: 5px 5px;
}

button{
  background: rgb(2, 199, 2);
  font-size: 15px;
  padding: 5px 10px;
  width: fit-content;
  color: white;
  margin-left: 10px;
}

.todo-list, .row1{
  width: 30%;
  
}

.todo-list button{
  background: red;
  font-size: 15px;
}

.todo-list p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: flex;
  justify-content: space-between;
}

.todo-list input{
  border: none;
  font-size: 15px;
}


